body {
  font-size: 18px;
  line-height: calc(--lineHeight*2)
}

body a {
  color: #fff
}

p:first-child, p.special {
  color: red;
}

p:not(:first-child):not(.special) {
  color: red;
  background-color: rgba(194, 15, 185, 0.5);
}
